@import '../../../styles/mixin';
@import '../../../styles/vars';


.ideas {
  .idea {
    padding: 20px;
      margin-top: 20px;
      border: 1px solid #42c21c;
    }

    .ideaLink {
      @include link;
    }
  }
